* {
  font-family: sans-serif;
  margin: 0;
}

header {
  background-color: #562b81;
  color: white;
}

.span {
  font-size: larger;
  margin-right: 20px;
}

.nav-anchor {
  text-decoration: none;
  color: white;
  font-size: medium;
}

nav > .row {
  padding: 0.5rem 0;
}

.margin-top {
  margin-top: 1rem;
}

div.column-full {
  margin-bottom: 0.5rem;
}

body {
  background-color: #f0f0f0;
}

img {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  padding: 10px 0;
  letter-spacing: 1px;
  font-weight: 550;
  display: block;
}

input,
textarea {
  padding: 12px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

main {
  margin-bottom: 25px;
}

.new-btn,
.save {
  width: 80px;
  padding: 7px 15px;
  color: white;
  background-color: #562b81;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

button:hover {
  background-color: #461972;
}

.anchor-show {
  color: red;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}

.form-footer-delete {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.delete-btn {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  width: 100%;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}

.entry-form {
  width: 100%;
}

.img-wrapper {
  width: 100%;
}

/* mobil styles for entries page */

.entries-p {
  line-height: 1.5rem;
  margin: 2rem 0;
  white-space: pre-line;
}

.entries-h2 {
  line-height: 4rem;
}

.entries-img {
  height: 350px;
  margin-bottom: 70px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.entries-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.last-entries-h2 {
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.new-btn {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #562b81;
  width: 60px;
  padding: 7px 11px;
  margin-top: 20px;
  color: white;
}

div.new-btn:hover {
  background-color: #461972;
}

.icon {
  display: flex;
  justify-content: space-between;
}

/*  mobil styles for modal page  */

#fixed-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.529);
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box {
  border: 1px solid black;
  width: 500px;
  height: 30vh;
  border-radius: 5px;
  background-color: white;
}

.row-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.cancel-btn,
.confirm-btn {
  text-align: center;
  margin: 15px;
  padding: 7px 10px;
  border-radius: 5px;
  border: transparent;
}

.cancel-btn {
  background-color: rgb(177, 177, 177);
}

.cancel-btn:hover {
  background-color: rgb(136, 133, 133);
}

.confirm-btn {
  background-color: rgb(255, 60, 60);
}

.confirm-btn:hover {
  background-color: rgb(252, 33, 33);
}

.visibility-hidden {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  textarea {
    width: 100%;
  }

  .textarea-label {
    display: block;
  }

  button:hover {
    background-color: #461972;
  }

  /* desktop styles for entries page */

  li {
    display: flex;
    list-style: none;
  }

  .entries-h2,
  .entries-p {
    margin: 0 20px 20px;
    line-height: 1.5rem;
  }

  .entries-img {
    height: 350px;
    margin-bottom: 70px;
  }

  .no-records {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }
}
